{% extends 'base.html' %}
{% load static %}

{% block title %}
User Login
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h2>User Login</h2>
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="form-row">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="submit-row">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
